{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <h2>Shopping Cart</h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-8 d-flex mx-auto mb-3 py-2">
            {% if cart_items %}
            <table class="tabel table-bordered border-dark w-100 my-3">
                <thead class="border-bottom border-dark">
                    <th scope="col" colspan="2" class="ps-2 py-2 th-text">In the Shopping Cart</th>
                    <!-- <th scope="col" class="ps-2 py-2">Quantity</th> -->
                    <th scope="col" colspan="2" class="ps-2 py-2">Price</th>
                </thead>
                {% for item in cart_items %}
                <tbody>
                    <tr class="border-bottom border-dark">
                        <td class="p-3 w-30 img-fluid">
                            <img src="{{ item.poster.image }}" alt="{{ item.poster.name }}">
                        </td>
                        <td class="py-3 px-2">
                            <a href="{% url 'poster-detail' item.item_id%}" class="cart-text">
                                {{ item.poster.name }}
                            </a>
                        </td>
                        <!-- <td class="py-3 px-2">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td> -->
                        <td class="py-3 px-2">
                            € {{ item.poster.price }}
                        </td>
                        <td class=" py-sm-3 py-md-3 py-lg-3 px-2 text-center">
                            {% for item in cart_items %}
                            <a href="{% url 'remove_from_cart' item.item_id %}">
                                <i class="fas fa-times text-link"></i>
                            </a>
                            {% endfor %}
                        </td>
                        
                    </tr>
                {% endfor %}
                    <tr class="border border-dark">
                        <td colspan="4" class="pt-3 text-end pe-2">
                            <h6>Cart Total: € {{ total_cost|floatformat:2 }}</h6>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td colspan="1" class="pt-3 pb-2 ps-2 text-start text-link">
                            <a href="{% url 'posters' %}" class="cart-btn pb-2">Keep Shopping</a>
                        </td>
                        <td colspan="3" class="pt-3 pb-2 pe-2 text-end text-link">
                            <a href="#" class="cart-btn">Check Out</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <div class="col-10 col-sm-8 col-md-8 col-lg-5 mx-auto my-5 card border-0 rounded-0">
                <div class="card-body text-center empty">
                    <p>Your Shopping Cart is currently empty.</p>
                    <p>Let's <a class="text-link" href="{% url 'posters' %}">Go Back</a> 
                        to the <a class="text-link" href="{% url 'posters' %}">Posters</a></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

<!-- {% block postloadjs %}
<script>
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var poster = $(this).data('poster_in_cart');
        var url = `/cart/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'poster_in_cart': poster_in_cart};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %} -->