{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <h2>Shopping Cart</h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8 col-xl-8 d-flex mx-auto mb-3 py-2">
            {% if cart_items %}
            <table class="tabel table-bordered border-dark w-100 my-3">
                <thead class="border-bottom border-dark">
                    <th scope="col" colspan="2" class="ps-2 py-2 th-text">In the Shopping Cart</th>
                    <!-- <th scope="col" class="ps-2 py-2">Quantity</th> -->
                    <th scope="col" colspan="2" class="ps-2 py-2">Price</th>
                </thead>
                {% for item in cart_items %}
                <tbody>
                    <tr class="border-bottom border-dark">
                        <td class="py-2 ps-2 ps-sm-4 ps-md-4 ps-lg-4 ps-xl-4 td-p" style="width: 150px;">
                            {% if item.poster.image %}
                                <img src="{% static '' %}img/{{ item.poster.image }}" class="img-cart" alt="{{ item.poster.name }}">
                            {% else %}
                                <img src="{% static '' %}img/no-image.jpeg" class="img-cart" alt="{{ poster.name }}" aria-label="A link to the post through the post image (Open in the same tab)">
                            {% endif %}
                        </td>
                        <td class="py-3 px-2">
                            <a href="{% url 'poster-detail' item.item_id%}" class="cart-text">
                                {{ item.poster.name }}
                            </a>
                        </td>
                        <!-- <td class="py-3 px-2">
                            <p class="my-0">{{ item.quantity }}</p>
                        </td> -->
                        <td class="py-3 px-2">
                            € {{ item.poster.price }}
                        </td>
                        <td class=" py-sm-3 py-md-3 py-lg-3 px-2 text-center">
                            <a href="{% url 'remove_from_cart' item.item_id %}">
                                <i class="fas fa-times text-link"></i>
                            </a>
                        </td>
                        
                    </tr>
                {% endfor %}
                    <tr class="border border-dark">
                        <td colspan="4" class="pt-3 text-end pe-2 border-bottom border-dark">
                            <p class="mb-1">
                                <strong>Delivery Cost:</strong> € {{ delivery|floatformat:2 }}
                            </p>
                            {% if free_delivery > 0 %}
                                <p class="mb-2 text-danger">
                                    <strong>Free delivery over € 70</strong>, you are <strong>€ {{ free_delivery }}</strong> away!
                                </p>
                            {% endif %}
                    </tr>
                    <tr class="border border-dark">
                        <td colspan="4" class="pt-3 text-end pe-2">
                            <h6>
                                Cart Total: € {{ total_cost|floatformat:2 }}
                            </h6>
                        </td>
                    </tr>
                    <tr class="border border-dark">
                        <td colspan="2" class="pt-3 pb-2 ps-2 text-start text-link">
                            <a href="{% url 'posters' %}" class="cart-btn pb-2">Keep Shopping</a>
                        </td>
                        <td colspan="2" class="pt-3 pb-2 pe-2 text-end text-link">
                            <a href="{% url 'checkout' %}" class="cart-btn">Check Out</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% else %}
            <div class="col-10 col-sm-8 col-md-8 col-lg-5 mx-auto my-5 card border-0 rounded-0">
                <div class="card-body text-center empty">
                    <p>Your Shopping Cart is currently empty.</p>
                    <p>Let's <a class="text-link" href="{% url 'posters' %}">Go Back</a> 
                        to the <a class="text-link" href="{% url 'posters' %}">Posters</a></p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}