{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row d-flex flex-wrap w-100 row-col-ind mt-4 pt-3">
        <div class="col row-col-ind">
            <h1 id="logo-heading">E.Stromlind Posters and Art</h1>
            <img src="{% static '' %}img/lady2.jpg" alt="Image of an customized poster" class="gallery rounded-0">
        </div>
        <div class="col row-col-ind">
            <img src="{% static '' %}img/lady1.jpg" alt="Image of an customized poster" class="gallery rounded-0">
            <img src="{% static '' %}img/logostromlind.jpeg" alt="Picture of diamond logo on a black background" class="gallery rounded-0">
        </div>
        <div class="col row-col-ind">
            <img src="{% static '' %}img/IMG_4369.jpg" alt="Image of an customized poster" class="gallery rounded-0">
            <img src="{% static '' %}img/IMG_3367.jpg" alt="Image of an customized poster" class="gallery rounded-0">
            <img src="{% static '' %}img/IMG_4721.jpg" alt="Image of an customized poster" class="gallery rounded-0">
        </div>
    </div>
    <div class="row my-3 border-top border-bottom border-dark">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 card border-0">
            <div class="card-body">
                <h3 class="card-title">A little bit About Who we are</h3>
                <p class="card-text">Who is the person behind the posters? 
                    <br>
                    <br>
                    E. Strömlind takes the colorful and vibrant moments in life and makes them abstract and easy for the eye.
                    The inspiration for the posters comes from different types of photos, like concert pictures, fashion editorials from magazines, or random everyday life pictures.
                    <br>
                    <br>
                    All the posters are handmade on acrylic paper, drawn with pen and different types of markers.
                    <br>
                    <br>
                    You can get to know more <a href="{% url 'about-us' %}" class="text-link">About Us and The Process</a> ...
                </p>
            </div>
        </div>
        <div class="d-none d-md-block d-lg-block d-xl-block d-sm-block col-md-6 col-lg-6 col-xl-6 text-center">
            <img src="{% static '' %}img/progress1.jpg" alt="" class="card-img-top rounded-0">
        </div>
    </div>
    <div class="row bg-requestform border border-dark mb-3">
        <div class="col-12 col-md-7 col-lg-7 col-xl-7 bg-requestform py-3 order-2 order-md-1">
            <h3>Request a Customized Poster here:</h3>
            <form action="{% url 'home' %}" method="POST" name="request poster form" id="request-poster">
            {% csrf_token %}
                {{ form|crispy}}
            <button class="btn btn-dark border border-dark rounded-0 btn-outline-light my-3" type="submit" aria-label="request poster" id="form-submit">
                Send Request
            </button>
            </form>
        </div>
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 bg-requestform my-auto mx-auto order-1 order-md-2 border-start border-dark">
            <p class="ps-2 mt-2 text-black">
                Do you have an image that you would like to make into our kind of poster?<br>
                Don't hesitate to send us a request! Just fill out the form. <br> For the process to be as smooth as possible,
                add in the description what kind of canvas you want, how big you want it, and if you want it in color or not.<br>
                If you have an image, please attach it with the request. The price is determined depending on the order request.<br>
                If you have further questions, please don't hesitate to send them with the form or please contact us for more inquiries.<br>
            </p>
            <p class="mb-0 ps-2 text-black">Canvas types:</p>
            <ul class="ms-2 text-black">
                <li class="mb-2">Ordinary paper</li>
                <li class="mb-2">Aquarelle paper</li>
                <li class="mb-2">Canvas (painting)</li>
                <li class="mb-2">Other</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
       $( "#request-post" ).submit(function( event ) {
            event.preventDefault();
        });
        $( "#form-submit" ).click(function() {
             $( "#request-post" ).submit();
        });
    </script>
{% endblock %}