{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <div class="col-12 col-md-12 col-lg-8 col-xl-8 pt-3">
            <div class="card border-0">
                <div class="card-body">
                    <div class="card-text py-3">
                        <h3>Terms and Conditions</h3>
                        <br>
                        <h4>Returns and exchanges</h4>
                        <p>We offer a 30 days return from the date of your receipt (excluding shipping costs) if you change your mind.<br>
                            The items must be returned in their original condition and in the original packing box. We reserve the right
                            to refuse any returns that do not fulfill these criteria. <br>
                            Please get in touch with us at info@mail.com before returning any items. Please remember to state your order 
                            number and relevant contact information in the email.
                        </p>
                        <h4>Damaged Delivery</h4>
                        <p>
                            We do our best to ship your order safely and securely. If your order for any reason or in any way arrives damaged,
                            please let us know straight away so we can help you solve the problem. <br>
                            We always offer to send out replacements for damaged items and, in some cases, additional compensation. <br>
                            Important: Please make sure to take photos of both the package and the damaged product and send them together with other
                            relevant information about the claim to info@mail.com.
                            Remember also to state your order number in the email.
                        </p>
                        <h4>Methods of payment</h4>
                        <p>
                            We accept payment with VISA, VISA Electron, Mastercard, Maestro, and American Express.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}