@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Montserrat:wght@200;300;500;600&family=Rock+3D&display=swap');
/*
font-family: 'Amatic SC', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Rock 3D', cursive;
*/

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1, h2 {
    font-family: 'Rock 3D', cursive;
    font-size: 50px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
}

/* Styling for navbar */

#nav-btn-par {
    position: relative;
}

#nav-btn-chi {
    position: absolute;
    top: 8px;
    left: 40px;
}

.menu-btn {
    background-color: #e9efe7;
    border: solid 0.5px black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 50%;
    color: black;
    /*box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);*/
    transition: all 0.3s ease 0s;
    cursor: grab;
    outline: none;
    margin: 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.menu-btn:hover {
    background-color: #a0c7b7;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-7px);
  }

.icons {
    font-size: 25px;
}

/* Index page styling */
#logo-heading {
    font-size: 70px;
}

.text-link {
    text-decoration: none;
    color: black;
}

.text-link:hover {
    color: rgb(3, 31, 5);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 4px;
    cursor: pointer;
}

.no-content {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}

/* Poster Product styling */

#poster-header {
    font-size: 60px;
}

.product-title {
    color: black;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
}

.product-title:hover {
    color: black;
}

.btn-like {
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    background: transparent;
    border: none;
}

/* Shopping Cart styling */
.empty {
    background-color: #e9efe7;
    font-size: 30px;
    font-family: 'Amatic SC', cursive;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; /* #93 getcssscan */
}

table {
    background-color: #e9efe7;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; /* #93 getcssscan */
}

.th-text {
    font-weight: 500;
}

.cart-btn {
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.cart-btn:hover {
    color: #000;
    text-decoration: underline;
}

/* Footer styling */

footer {
    margin-top: auto;
    min-height: 120px;
}

.top-footer {
    padding: 40px 0px;
}

.bottom-footer {
    padding: 20px 0px;
    background-color: #e9efe7;
}

.footer-sections {
    padding: 10px 0px;
    margin: 10px 0px;
}

.btn-mail {
    color: black;
}

.btn-mail:hover {
    color: black;
    /* From get css scan #21 */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#fqa li {
    background-color: #e9efe7;
}

/* ---------- Media Queries */

/* For tablet view */
@media (min-width: 1200px) {
    #nav-btn-par {
        position: relative;
    }
    
    #nav-btn-chi {
        position: absolute;
        top: 8px;
        left: 50px;
    }
}

@media (max-width: 768px) {
    #nav-btn-par {
        position: relative;
    }
    
    #nav-btn-chi {
        position: absolute;
        top: 8px;
        left: 25px;
    }

    #logo-heading {
        font-size: 55px;
    }
}

@media (max-width: 375px) {
    #logo-heading {
        font-size: 50px;
    }
}

@media (max-width: 320px) {
    #nav-btn-par {
        position: relative;
    }
    
    #nav-btn-chi {
        position: absolute;
        top: 8px;
        left: 15px;
    }

    #logo-heading {
        font-size: 40px;
    }
}