
/* Styling for navbar */

.menu-btn {
    background-color: #e9efe7;
    border: solid 0.5px black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 50%;
    color: black;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: grab;
    outline: none;
    margin: 0px 10px;
}

.menu-btn:hover {
    background-color: #a0c7b7;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translateY(-7px);
  }

.icons {
    font-size: 25px;
}