{% extends "base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
  <div class="row g-0">
    <div class="card col-10 col-md-8 shadow-sm border-dark rounded-0 my-4 mx-auto bg-allauth">
      <div class="card-body">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button class="btn btn-dark rounded-0" type="submit">{% trans 'Sign Out' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
