{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <h2>Posters</h2>
    </div>
    <div class="row">
        <div class="col-4 card rounded-0">
            <img src="..." class="card-img-top" alt="...">
            <div class="row card-body p-0">
                <div class="col-10 border p-0 ps-1 pt-1">
                    <p>Title</p>
                    <p>Price</p>
                </div>
                <div class="col-2 border p-0">
                    <a class="nav-link" href="#">
                        <div class="text-start text-black">
                            <div class="icons"><i class="far fa-heart"></i></div>
                        </div>
                    </a>
                </div>
                <a class="text-black nav-link" href="#">
                    <div class="text-start row">
                        <div class="icons col-1 p-0 ps-1"><i class="fas fa-shopping-cart"></i></div>
                        <p class="col my-auto">Add To Cart</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}