{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <h2 class="col ps-3 ps-sm-4 ps-md-5" id="poster-header">Posters</h2>
    </div>
    <div class="row justify-content-around mb-3">
        {% for poster in posters %}
        <div class="col-lg-3 col-md-3 col-sm-3 col-10 card border-dark rounded-0 m-sm-2 m-md-2 m-lg-3 mx-auto mb-3 pt-2 h-100 w-auto poster-element">
            <!-- {% if poster.image %}
            <a href="{% url 'poster-detail' poster.pk %}" class="pb-2">
                <img src="{% static '' %}img/{{ poster.image }}" class="img-poster" alt="{{ poster.name }} " aria-label="A link to the post through the post image (Open in the same tab)">
            </a>
            {% else %}
            <a href="{% url 'poster-detail' poster.pk %}" class="pb-2">
                <img src="{% static '' %}img/no-image.jpeg" class="img-poster" alt="{{ poster.name }}" aria-label="A link to the post through the post image (Open in the same tab)">
            </a>
            {% endif %} -->
            {% if "placeholder" in poster.image.url %}
            <a href="{% url 'poster-detail' poster.pk %}" class="pb-2">
                <img src="https://res.cloudinary.com/elistr/image/upload/v1657457420/no-image_nmjzlm.png" class="img-poster" alt="Images whit a black X and text No Image">
            </a>
            {% else %}
            <a href="{% url 'poster-detail' poster.pk %}" class="pb-2">
                <img src="{{ poster.image.url }}" alt="Image of poster motive" class="img-poster">
            </a>
            {% endif %}
            <div class="row card-body border-top border-dark p-0">
                <div class="col-10 p-0 ps-1 pt-1">
                    <a href="{% url 'poster-detail' poster.pk %}" class="product-title">
                        <p class="ps-2 mb-0">{{ poster.name }}</p>
                    </a>
                    <p class="ps-2"><strong>€</strong> {{ poster.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}