{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-1 offset-3 offset-sm-1 offset-md-1 offset-lg-1 ps-4">
            <a href="{% url 'posters' %}" class="cart-text icons">
                <i class="fas fa-angle-double-left"></i>
            </a>
        </div>
    </div>
    <div class="row justify-content-around my-3">
        <div class="col-10 m-sm-3 m-md-3 m-lg-3 mx-auto mt-3 poster-element">
            <div class="row p-0">
                <div class="col-12 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                {% if poster.image %}
                <a href="{% url 'poster-detail' poster.pk %}">
                    <img src="{% static '' %}img/{{ poster.image }}" class="card-img-top rounded-0" alt="{{ poster.name }} " aria-label="A link to the post through the post image (Open in the same tab)">
                </a>
                {% else %}
                <a href="{% url 'poster-detail' poster.pk %}">
                    <img src="{% static '' %}img/no-image.jpeg" class="card-img-top rounded-0" alt="{{ poster.name }}" aria-label="A link to the post through the post image (Open in the same tab)">
                </a>
                {% endif %}
                </div>
                <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 p-0 ps-1 pt-1">
                    <div class="row">
                        <div class="col-10">
                            <h3>{{ poster.name }}</h3>
                            <p>€ {{ poster.price }}</p>
                        </div>
                        <div class="col-2 px-auto">
                            <form class="d-inline" action="#" method="POST" name="likeForm">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" value="" name="likes" class="btn-like icons mt-3">
                                    <i class="fas fa-heart"></i> 
                                </button>
                                {% else %}
                                <button type="submit" value="" name="likes" class="btn-like icons mt-3">
                                    <i class="far fa-heart"></i> 
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    <div class="accordion accordion-flush border-top border-bottom" id="accordionFlush">
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              Details
                            </button>
                          </h4>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
                            <div class="accordion-body">{{ poster.description }}</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                            <h4 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Size Guide
                              </button>
                            </h4>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush">
                              <div class="accordion-body">
                                  <p>
                                    The Sizes of the Posters can variate to get an overall view of how small/big they are; see the chart underneath.
                                    <br>
                                    For the exact measurements, don't hesitate to contact us.
                                  </p>
                                  <ul>
                                      <li class="mt-2">Size L/Large:</li>
                                      <li class="mt-2">Size M/Medium:</li>
                                      <li class="mt-2">Size S/Small:</li>
                                      <li class="mt-2">Size XS/X-Small:</li>
                                  </ul>
                              </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                          <h4 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              Returns
                            </button>
                          </h4>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush">
                            <div class="accordion-body">
                                <p>
                                We offer a 30 days return from the date of your receipt (excluding shipping costs) if you change your mind.
                                You will find <a href="#" class="text-link">More information here</a>.
                                </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- <div class="col-12 mb-3">
                        <div class="row">
                            <hr class="d-none d-sm-block d-md-block d-lg-block d-xl-block my-3">
                            <p class="col-10 mb-1">Details</p>
                            <a class="col-2 text-end text-black" data-bs-toggle="collapse" href="#collapseDetail" role="button" aria-expanded="false" aria-controls="collapseDetail">
                            <i class="fas fa-angle-down"></i>
                            </a>
                        </div>
                        <div class="collapse" id="collapseDetail">
                            <div class="col">
                                {{ poster.description }}
                            </div>
                        </div>
                        <div class="row">
                            <hr class="my-3">
                            <p class="col-10 mb-1">Returns</p>
                            <a class="col-2 text-end text-black" data-bs-toggle="collapse" href="#collapseReturn" role="button" aria-expanded="false" aria-controls="collapseReturn">
                            <i class="fas fa-angle-down"></i>
                            </a>
                        </div>
                        <div class="collapse" id="collapseReturn">
                            <div class="col">
                                <p>
                                We offer a 30 days return from the date of your receipt (excluding shipping costs) if you change your mind.
                                You will find <a href="#" class="text-link">More information here</a>.
                                </p>
                            </div>
                        </div>
                        <hr class="my-3">
                    </div> -->
                    <p>{{ cart }}</p>
                    {% if poster.item_id not in cart.cart_items %}
                    <div class="col-12 text-center mt-3 pt-3">
                        <form action="{% url 'add_to_cart' poster.id %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group input-group-{{ poster.id }} d-none">
                                <input class="form-control qty_input id_qty_{{ poster.id }}" type="number"
                                    name="quantity" value="1" min="1" max="1"
                                    data-item_id="{{ poster.id }}">
                            </div>
                            <input type="submit" class="btn btn-outline-dark rounded-0" value="Add to Cart">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </form>
                    </div>
                    {% else %}
                    <p>This item is currently in a cart</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}