{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <h2 class="col ps-3 ps-sm-4 ps-md-5" id="poster-header">Posters</h2>
    </div>
    <div class="row justify-content-around mb-3">
        {% for poster in posters %}
        <div class="col-lg-3 col-md-5 col-sm-5 col-10 card rounded-0 m-sm-3 m-md-3 m-lg-3 mx-auto poster-element">
            {% if poster.image %}
            <a href="{% url 'poster-detail' poster.pk %}">
                <img src="{% static '' %}img/{{ poster.image }}" class="card-img-top" alt="{{ poster.name }} " aria-label="A link to the post through the post image (Open in the same tab)">
            </a>
            {% else %}
            <a href="{% url 'poster-detail' poster.pk %}">
                <img src="{% static '' %}img/no-image.jpeg" class="card-img-top" alt="{{ poster.name }}" aria-label="A link to the post through the post image (Open in the same tab)">
            </a>
            {% endif %}
            <div class="row card-body p-0">
                <div class="col-10 border p-0 ps-1 pt-1">
                    <a href="{% url 'poster-detail' poster.pk %}" class="product-title">
                        <p>{{ poster.name }}</p>
                    </a>
                    <p><strong>€</strong> {{ poster.price }}</p>
                </div>
                <div class="col-2 border p-0">
                    <form class="d-inline" action="#" method="POST" name="likeForm">
                        {% csrf_token %}
                        {% if liked %}
                        <button type="submit" value="" name="likes" class="btn-like icons mt-3">
                            <i class="fas fa-heart"></i> 
                        </button>
                        {% else %}
                        <button type="submit" value="" name="likes" class="btn-like icons mt-3">
                            <i class="far fa-heart"></i> 
                        </button>
                        {% endif %}
                    </form>
                </div>
                <!-- <a class="text-black nav-link" href="#">
                    <div class="text-start row">
                        <div class="icons col-1 p-0 ps-1"><i class="fas fa-shopping-cart"></i></div>
                        <p class="col my-auto">Add To Cart</p>
                    </div>
                </a> -->
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}