{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <h2>Page Not Found</h2>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7 col-xl-7 d-flex mx-auto my-3 py-2">
            <p>
                Ooops! It looks like this page is missing or does not exist.
                Go back to the Home page by clicking the button below, else click on the top menu or try a search?
            </p>
        </div>
        <div class="col-12 col-lg-6 col-xl-6 d-flex mx-auto mb-3 py-2">
            <a class="btn btn-outline-light btn-dark border border-dark rounded-0 mx-auto" href="{% url 'home' %}">
                <span>Back to Home</span>
            </a>
        </div>
    </div>
</div>
{% endblock %}