{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <div class="col-7 p-3 border logo-heading">E.Stromlind Posters and Art</div>
        <div class="col-5 overflow-visible px-3 py-4 border bg-light">Img</div>
        <div class="col-4 p-3 mt-3 border bg-light">Row column</div>
        <div class="col-3 p-3 mt-3 border bg-light">Row column</div>
        <div class="w-100 d-block"></div>
        <div class="col-3 p-3 mx-3 border bg-light">Row column</div>
        <div class="col-3 p-3 me-3 border bg-light">Row column</div>
        <div class="col-3 p-3 border bg-light">Row column</div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col-12 col-md-6 col-lg-6">
            Some text for thoese who are intrested
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            Form with request to customize poster
        </div>
    </div>
</div>
{% endblock %}