{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row g-2 mt-4">
        <div class="col-md-7 col-lg-7 col-xl-7 col-12 col-sm-7 p-3 border">
            <h1 id="logo-heading">E.Stromlind Posters and Art</h1>
            <!-- <img src="{% static '' %}img/logostromlind.jpeg" alt="Picture of diamond logo on a black background" class="card-img-top rounded-0 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-12 p-3 mt-3">
            <img src="{% static '' %}img/logostromlind.jpeg" alt="Picture of diamond logo on a black background" class="card-img-top rounded-0 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-12 p-3 mt-3"> -->
        </div>
        <div class="col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5 overflow-visible px-3 py-3 border">
            <img src="{% static '' %}img/lady2.jpg" alt=""  class="card-img-top rounded-0">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-12 overflow-visible p-3 mt-3 border">
            <img src="{% static '' %}img/lady1.jpg" alt="" class="card-img-top rounded-0">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-12 overflow-visible p-3 mt-3 border">
            <img src="{% static '' %}img/logostromlind.jpeg" alt="Picture of diamond logo on a black background"class="card-img-top rounded-0">
        </div>
        <div class="w-100 d-block"></div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-12 overflow-visible p-3 mx-sm-3 mx-md-3 mx-lg-3 mx-xl-3 mt-3 border">
            <img src="{% static '' %}img/IMG_4369.jpg" alt="" class="card-img-top rounded-0">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-12 overflow-visible p-3 me-3 mt-3 border">
            <img src="{% static '' %}img/IMG_3367.jpg" alt="" class="card-img-top rounded-0">
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col-12 overflow-visible p-3 mt-3 border">
            <img src="{% static '' %}img/IMG_4721.jpg" alt="" class="card-img-top rounded-0">
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 card border-0">
            <div class="card-body">
                <h3 class="card-title">A little bit About Who we are</h3>
                <p class="card-text">Who is the person behind the posters? 
                    <br>
                    <br>
                    E. Strömlind takes the colorful and vibrant moments in life and makes them abstract and easy for the eye.
                    The inspiration for the posters comes from different types of photos, like concert pictures, fashion editorials from magazines, or random everyday life pictures.
                    <br>
                    <br>
                    All the posters are handmade on acrylic paper, drawn with pen and different types of markers.
                    <br>
                    <br>
                    You can get to know more <a href="{% url 'about-us' %}" class="text-link">About Us and The Process</a> ...
                </p>
            </div>
        </div>
        <div class="d-none d-md-block d-lg-block d-xl-block d-sm-block col-md-6 col-lg-6 col-xl-6 text-center">
            <img src="{% static '' %}img/progress1.jpg" alt="" class="card-img-top rounded-0">
        </div>
    </div>
    <hr>
    <div class="row my-3">
        <div class="col-12 col-md-8 col-lg-8 col-xl-8 border bg-light">
            CUSTOMIZE POSTER FORM
        </div>
    </div>
</div>
{% endblock %}